/* You can add global styles to this file, and also import other style files */

body {
  background: #0f0f23;
  height: 100vh;

}

.green__text {
  color: #00cc00;
  font-family: Source Code Pro;
}

.white__text{
  color: white;
}

* {
  font-family: Source Code Pro;
}


