<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <p>This is my solution for Year 2015, exercise number {{currentDay}}</p>

    <p>Part 1: {{mySolution.part1}}</p>
    <p>Part 2: {{mySolution.part2}}</p>


    <a href="/">GO HOME</a> 

  </body>
</html>